//Это всего лишь препроцессор css, но с фишками. Тоже отрефактить надо бы.
$roboto: "Roboto";

body {
  width: 100vw;
  height: 1000vh;
}

.btnsPane {
  background-color: #161a26;
  // background-image: url(/assets/back.png);
  width: 560px;
  height: 50px;
  margin: auto auto;
  display: flex;
  border-bottom: 2px solid #3caa90;

  button {
    background-color: #161a2600;
    border: none;
    cursor: pointer;
    width: 188px;
    height: 40px;
    margin: auto 0;

    font-family: $roboto;
    font-size: 20px;
    font-weight: 600;
    color: #f1c564;
    text-align: center;
    align-items: center;
    line-height: 27px;

    display: grid;

    transition: 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      transform: scale(0.9);
    }
  }
}

.Comander_skill_desc {
  // padding: 15px;
  background-image: url(/assets/back.png);
  background-color: #161a26;
  margin: auto auto;
  width: 560px;
  height: 1000px;
  display: grid;
  grid-template-rows: 130px 60px 100px;
  padding-top: 10px;

  transition: opacity 0.2s;
  //   transition: ease;
  .Skill_name {
    // background-color: rgb(0, 255, 242);
    width: 540px;
    margin: 0 auto;
    display: flex;
    opacity: 1;
    transition: opacity 0.4s;
    .Skill_img {
      // background-color: rgb(30, 255, 0);
      width: 110px;
      height: 110px;
      margin: auto auto;
      z-index: 10;
      position: relative;
      .img {
        position: absolute;
        width: 90px;
        height: 90px;
        right: 0;
        // margin: auto auto;

        background-image: url(/assets/icons/blades.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
        z-index: 10;
      }
      .Stroke {
        position: absolute;
        z-index: 1;
        background-color: #328a78;
        width: 100%;
        height: 100%;

        clip-path: polygon(55% 0%, 80% 0, 60% 100%, 35% 100%);
      }
    }

    .Skill_info {
      // background-color: rgb(146, 134, 78);
      width: 370px;
      height: 110px;
      margin: auto auto;
      display: grid;
      grid-template-rows: 29% 29% 29%;
      .Info_name {
        // background-color: rgb(2, 229, 236);
        width: 100%;
        height: 100%;

        font-family: $roboto;
        font-size: 25px;
        font-weight: 600;
        color: white;
        text-align: left;
        align-items: center;
        line-height: 27px;

        display: flex;
      }

      .Info_type {
        // background-color: rgb(236, 88, 2);
        width: 100%;
        height: 100%;

        text-transform: uppercase;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 600;
        color: #3eae93;
        text-align: left;
        align-items: center;
        line-height: 22px;

        display: flex;
      }

      .Info_singularity {
        // background-color: rgb(236, 88, 2);
        width: 100%;
        height: 100%;

        text-transform: uppercase;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 600;
        color: #735f39;
        text-align: left;
        align-items: center;
        line-height: 22px;

        display: flex;
      }
    }
  }

  .Skill_Status {
    background-color: rgba(255, 255, 255, 0.1);
    width: 540px;
    margin: 0 auto;
    display: flex;

    .Status_img {
      //   background-color: rgb(255, 115, 0);
      width: 50px;
      height: 30px;
      margin: auto 0;
      margin-left: 10px;

      background-image: url(/assets/icons/check.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .Status_info {
      //   background-color: rgb(255, 0, 242);
      width: 450px;
      height: 50px;
      margin: auto 0;

      text-transform: uppercase;
      font-family: $roboto;
      font-size: 25px;
      font-weight: 600;
      color: #facb66;
      text-align: left;
      align-items: center;
      line-height: 27px;

      display: grid;
    }
  }

  .Skill_Description {
    // background-color: rgb(17, 0, 255);
    width: 540px;
    margin: 0 auto;
    display: flex;

    .Description_text {
      // background-color: rgb(26, 145, 115);
      width: 500px;
      height: 90px;
      margin: auto auto;

      font-family: $roboto;
      color: white;
      text-align: left;
      align-items: center;
      font-size: 20px;
      line-height: 22px;

      display: grid;
    }
  }

  .Options_panes {
    // background-color: rgb(43, 43, 43);
    width: 540px;
    margin: 0 auto;
    display: inline-block;
    .Option {
      background-color: rgba(255, 255, 255, 0);
      width: 540px;
      height: 120px;
      margin: 0 auto;
      display: grid;
      grid-template-rows: 50% 30%;
      //   margin-bottom: 15px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
      .Option_info {
        width: 500px;
        margin: auto auto;
        // background-color: rgb(114, 71, 71);
        display: flex;
        .Option_status_img {
          //   background-color: rgb(255, 255, 255);
          width: 30px;
          height: 30px;
          display: flex;
          border-radius: 100%;
          border: 2px solid white;
          margin: auto 0;
          .part {
            width: 24px;
            height: 24px;
            margin: auto auto;
            display: flex;
            border-radius: 100%;
          }
        }

        .Option_name {
          width: 450px;
          margin-left: 10px;
          font-family: $roboto;
          color: white;
          font-weight: 600;
          text-transform: uppercase;
          text-align: left;
          align-items: center;
          font-size: 20px;
          line-height: 22px;

          display: grid;
        }
      }

      .Option_desc {
        width: 500px;
        margin: auto auto;
        // background-color: rgb(128, 194, 108);
        display: inline-flex;
        justify-content: center;
        .Desc {
          // background-color: rgb(0, 17, 255);
          width: 180px;
          font-family: $roboto;
          color: white;
          text-align: left;
          align-items: center;
          font-size: 20px;
          line-height: 22px;

          display: grid;
        }

        .separator {
          background-color: #31353f;
          height: 2px;
          min-width: 250px;
          margin: auto auto;
        }

        .Option_strenght {
          // background-color: rgb(91, 79, 255);

          margin-left: auto;

          font-family: $roboto;
          color: #3eb689;
          text-align: left;
          align-items: center;
          font-size: 20px;
          line-height: 22px;

          display: grid;
        }
      }
    }
  }
}
